<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= "Greetings #{@user.name}!" %></h1>
    </br></br>
    <p>Welcome to FlorpNet! The leading inter-galactic-pan-dimensional social media platform.</p>
    </br></br>
    <p>Feel free to make youself at home. Most users begin by adding an alternate dimensional version
    of themselves to their friends list!</p>
    </br></br>
    <p>May you find many marvelous things on your travels,</p>
    </br>
    <p>FlorpNet</p>
  </body>
</html>