<h1>New Comment</h1>

<h3>commenting on:</h3>
<strong><%= "#{@post.author.handle}'s Post"%></strong></br>

<%= @post.body%></br>
<em><%= "posted #{@post.created_at}" %></em></br></br>

<%= render "form" %>