<%= form_for(:post, url: posts_path, remote: true, :multipart => true) do |f| %>
<%= f.text_area :body, class: "textarea is-info-light", placeholder: "What's on your mind?" %>
</br>
<%= f.submit name: nil, class: "button" %>
<div class="file is-small">
  <label class="file-label">
    <%= f.file_field :image, class: "file-input", accept: 'image/jpeg,image/png,image/gif' %>
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Choose a file…
      </span>
    </span>
  </label>
</div>
<% end %>