<h1>Your Feed</h1>

<% if user_signed_in? %>
  <h3>something on your mind?</h3>
  <%= render "form" %></br></br>

  <% @posts.each do |p| %>
    <%= p.author.handle %>
    </br>
    <%= p.body %>
    </br></br>
  <% end %>
  
<% else %>
  <%= link_to  "Please log in to see your feed!", user_sign_in_path %>
<% end %>